/* Navbar */
#navbar .logo{
  float: none;
  text-align: center;
}

#navbar ul, 
#navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
}

/* Showcase */
#showcase-home {
  height: 30vh;
  padding: 10px;
}

#showcase .showcase-banner,
#showcase-home .showcase-banner{
  /* background: var(--secondary-color); */
  height: 100%;
  width: 80%;
}

#showcase h1,
#showcase-home h1 {
  font-size: 30px;
  line-height: 1em;
  padding: 10px;
}

#showcase p,
#showcase-home p {
  font-size: 18px;
}

/* Portfolio */
#portfolio .portfolio-nav {
  display: none;
}

.box {
  float: none;
  width: 100%;
  padding:10px;
}

/* Contact */
#contact {
  height: 100%;
}

#contact .box-contact-features {
  float: none;
  width: 100%;
}

#contact .features-contact .box-form{
  float: none;
  width: 100%;
}

/* Single Project */
.box-portfolio {
  float: none;
  width: 100%;
}


/* Footer */
#main-footer {
  text-align: center;
}

#main-footer p,
#main-footer ul,
#main-footer ul li {
  float: none;
}